<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <button><a href="/logout">Logout</a> </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <%for(i=0;i<data.length;i++){%>
                <tr>
                    <td><%=data[i].firstname%></td>
                    <td><%=data[i].lastname%></td>
                    <td><%=data[i].email%></td>
                    <td>
                        <a href="http://localhost:5000/login">
                            <button type="button" class="edit btn btn-info" data-toggle="modal" data-target="#myedit" id=<%=data[i]._id%>>
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </a>
                        <button type="button" class="delete btn btn-danger" id=<%=data[i]._id%>>
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>

</html>